/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HTML INDEX */

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
    background-color: #1C1C1C;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: 80%;
 }

.logo-container {
    display: flex;
 }

 .logo {
    display: block;
    max-width: 150px;
    height: auto;
    margin: 1%;
 }

header nav a{
    display: flex;
    color: #D72638;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    padding: 6px 15px 7px 15px;
    font-size: medium;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: black;
    padding: 0;
}

header nav a:hover {
    color: black;
    background-color: #D72638;
}

body {
    font-family: 'lato';
    background-size:cover;
}

body h1, h2 {
    color: #D72638;
}

h3 {
    display: flex;
    justify-content: center;
    background-color: #3A3A3A;
    color: #D72638;
    width: 20%;
    margin-left: 4vh;
    border-radius: 10px;
}

.primer-parrafo {
    display: flex;
    align-items:top;
    flex-direction: row;
    height: 60vh;
    justify-content:space-between;
    background-color: #3A3A3A;
    background-size:contain;
    border-radius: 20px;
    gap: 1.5%;
    padding: 1%;
    margin: 2%;
}

.primer-parrafo div {
    width: 100%;
}

.primer-parrafo p {
    align-items: center;
    color: #CCCCCC;
}

.segundo-parrafo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5%;
    text-align: end;
    border-radius: 20px;
    background-color: #3A3A3A;
    background-size:contain;
    padding: 1%;
    margin: 2%;
}

.segundo-parrafo p {
    color: #CCCCCC;
}
.segundo-parrafo img {
    display: flex;
    height: 100%;
    margin-top: 0.5%;
}

/* INDEX GRID */


.grid-container1 {
    display: grid;
    border: 1px solid red;
    justify-content: center;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "foto1 foto2 foto3"
    "foto1 foto4 foto5";
    gap: 10px;
    margin: 2%;
    height: 62vh;

}

.foto1 { grid-area: foto1; }
.foto2 { grid-area: foto2; }
.foto3 { grid-area: foto3; }
.foto4 { grid-area: foto4; }
.foto5 { grid-area: foto5; }


.grid-container1 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.foto2 img, .foto3 img, .foto4 img, .foto5 img {
    height: 30vh;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "hola1 hola2";
    justify-content: center;
    gap: 10px;
    margin: 2%;
}

/* INDEX GRID FIN */

.h1paginas {
    margin: 0.5%;
    color: #D72638;
}

footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C1C;
}

footer p{
    display: flex;
    color: #3A3A3A;
    text-align: center;
    font-size: small;
    justify-content: center;
    text-shadow: 0px 0px 19px rgba(0,0,0,0.6);
    margin-bottom: 0px;
}

footer a {
    display: flex;
    flex-direction: row;
    width: 3.4%;
    justify-content: center;
    padding-top: 5px;
}

.imagefooter {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.mapafooter {
    margin: 1vh 0vh 0vh 1vh;
    display: flex;
    width: 300px;
}

.sponsors {
    display: flex;
    position: relative;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.sponsors img {
    height: 6vh;
}

.redes {
    display: flex;  
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin: 1%;
    justify-content: space-around;
}

.redes img {
    height: 7vh;
}

.paginas-principal {
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0% 10% 0 10%;
    border: 1px solid red;
}

.negrita {
    display: flex;
    font-weight: bold;
    font-size: medium;
    justify-content: flex-end;
    margin: 1vh;
    text-shadow: 0px 0px 19px rgba(0,0,0,0.6);
}

/* HTML INSCRIPCION.. estara bien hacer los styles.css sobre el mismo css que el index? */

.inscripcion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "formulario textoFormulario";
    gap: 10px;
    margin: 30px;
    padding: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #3A3A3A;
    align-items: center;
    width: 80vh;
    height: 90vh;
    border-radius: 5px;
    gap: 10px;
    padding: 30px;
    margin-left: 40px;
}


/* estara bien hacer el form aparte? si ya esta dividido por un /div */
.formulario form {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: #F5F5F5;
    gap: 10px;
}

.textoFormulario {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    color: #F5F5F5;
    width: 100vh;
    height: 110vh;
    text-shadow: 20px black;
    padding: 5% 0% 0% 0%;
    background-color: #3A3A3A;
    gap: 30px;
}

.textoFormulario h2 {
    color: #D72638;
}

.textoFormulario ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 60%;
}

.textoFormulario ol {
display: flex;
flex-direction: column;
justify-content: end;
}

/* HTML CONTACTOS */

@media (max-width: 600px) { /* EL MENU NAV TIENE QUE ESTAR EN BOOTSTRAP (O EN LO Q SEA) PERO SI O SI DESPLEGABLE */
    
.logo {
    width: 20%;
}
header {
    padding: 6% 0;
    width: 100%;
}

header a {
    padding: 5% 0;
    justify-content: space-between;
    width: 100%;
}
header nav {
    width: 100%;
    justify-content: space-between;
    margin-top: 13%;
}


header ul {
    width: 100%;
    justify-content: space-evenly;
}

main {
margin: 5% 0% 5% 0%;

}

.primer-parrafo, .segundo-parrafo {
    width: 100%;
    height: auto;
    text-align: center;
    flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
}

.primer-parrafo iframe {
    width: 100%;
    height: 50vh;

}

.grillas {
    grid-template-areas: 
    "f0to1"
    "f0to2"
    "f0to3"
    "f0to4"
    "f0to5"
    "f0to6";
    grid-template-columns: 1fr;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

}