@use "variables";

.tablacampeones {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
    padding: 10px;
    th {
    padding: 5px;
  }
}
.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 680px;
  padding: 10px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 768px) {
  .tablacampeones {
    flex-direction: column;
    padding: 5px;
  }

  .carrousel {
    max-width: 100%;
    
    img {
      height: auto;
    }
  }
}