@use "variables";

.tablacampeones {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
    padding: 10px;
    th {
    padding: 5px;
  }
}
.carrousel {
  display: flex;
  width: 30rem;
  object-fit: cover;
  margin: auto;
  justify-content: center;

    img {
    height: 30rem;
  object-fit: cover;
    }
}