@use "variables";
@use "mixins";
.formulariopages {
    @extend %areagris;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    color: variables.$blancotit;
    gap: 10px;
}

.mapacontactos {
    @extend %areagris;
  width: 60vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

  @media (max-width: 400px) {

.mapacontactos {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  iframe, img, .mapa {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
  } 